
@{
    ViewBag.Title = "Index";
    Layout = null;

}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>
        Index
    </title>
    
</head>
<body>
    <div><h2>Admin Area</h2>
    @Html.ActionLink("Click me", "About");<!--генерация ссылки в текущей области-->
    @Html.ActionLink("Click me to go to another area","Index",new { area="Support" })

    
    </div>
</body>
</html>

