
@{
    ViewBag.Title = "Index";
}


<div class="container">
    <div class="row">
        <div id="MARGIN_index">
            <h1>Тестовая программа по изучению моделей в ASP.Net MVC</h1>
        </div>
    </div>
    
</div>


