@model IEnumerable<SimpleModelMVC.ViewModel.EnrollmentDateGroup>
@{
    ViewBag.Title = "Статистика";
}

<h2>Статистика</h2>

<table>
    <tr>
        <th>
            Дата регистрации
        </th>
        <th>
            Студенты
        </th>
    </tr>
    
    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.EnrollmentDate)
            </td>

            <td>
                @item.StuedentCount
            </td>
        </tr>
    }
    
    
    </table>

